html, body {
	height:100%;
	margin:0;
	padding:0;
}

h1 {
	display:inline;
	margin-right:10px;
}

.container {
	margin-top: -65px;
	padding:0;
	width:100%;
	height:100%;
}

#header {
	height: 65px;
	position: relative;
	z-index: 1;
}

.navbar-left {
	margin:0;
	padding-top:10px;
	padding-bottom:10px;
	background:#adc6fe;
	width:100%;
	height:100%;
}

.row {
	margin:0;
	height: 100%;
	margin-top: -65px;
}

.form-control {
	margin-bottom:10px;
}

.col-xs-2 {
	padding:0;
	padding-top: 65px;
	margin-top: -65px;
	height: 100%;
}

.col-xs-10 {
	padding:0;
	padding-top: 65px;
	margin-top: -65px;
	height: 100%;
}

.ko-grid {
	margin-bottom:1em;
	width:100%;
	border:1px solid silver;
	background-color:#fff;
}

.ko-grid th {
	text-align:center;
	background-color:#000;
	color:#fff;
}

.ko-grid td, th {
	text-align:center;
	padding:0.4em;
}

.ko-grid tr:nth-child(odd) {
	background-color:#ddd;
}

.ko-grid-pageLinks {
	margin-bottom:1em;
}

.ko-grid-pageLinks a {
	padding:0.5em;
}

.ko-grid-pageLinks .selected {
	background-color:gray;
	color:#fff;
}


